@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  @apply
  bg-white
  w-full h-full
}


/******************** FIXES ********************/
i.fas {
  @apply
  my-auto
}

p {
  font-family: "Open Sans", 'Times New Roman', Times, serif;
}


/******************** NAVBAR ********************/

nav.navbar > div {
  @apply
  fixed flex
  justify-between
  min-w-0 max-w-full w-full
  z-50
  px-10 py-4
  bg-gray-100
}

i.hamburger {
  @apply
  opacity-50
  my-auto
}

a.logo-colored {
  @apply
  m-auto
  text-lg text-center text-green-800
  font-bold
}
a.logo-colored span {
  @apply
  text-black
}


/******************** HERO SECTION ********************/

#hero div.container {
  height: 90vh;
  min-width: 100%;
  
  @apply
  relative
  z-10
  overflow-hidden
}
#hero div.container::before {
  content: '';
  opacity: 0.06;
  background-image: url('../img/housebg.jpg');
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  @apply
  absolute block
  top-0 right-0 z-0
  w-full h-full
  bg-cover bg-no-repeat
}
#hero div.container.hide-bg::before {
  @apply
  hidden
}

#hero div.hero-content {
  @apply
  relative
  z-10
  w-10/12
  h-full
  mx-10 my-48
  align-middle
}
#hero div.hero-content > h2 {
  @apply
  uppercase
  text-sm text-gray-700
}
#hero div.hero-content > p {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;

  @apply
  font-bold
  text-4xl
  leading-tight
}

#hero div.hero-navs {
  @apply
  flex
  mt-12
}

#hero div.hero-navs > a {
  @apply
  my-auto
  mr-6
}


/******************** SERVICES SECTION ********************/

section#services > div.container {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 83.38%), #E6E9F3;
  
  @apply
  p-10
}

section#services div.header {
  @apply
  leading-snug
  mb-10
}

section#services div.header > h1 {
  @apply
  font-bold
  text-4xl
}

section#services div.header > h2 {
  @apply
  text-lg
  text-gray-600
}

section#services li {
  @apply
  mt-10
}
 
section#services li > * {
  @apply
  mb-2
}

section#services div.list-header {
  @apply
  flex
  justify-start
}

section#services div.list-header > i {
  @apply
  mr-4
  opacity-50
}

section#services div.list-header > h3 {
  @apply
  font-bold
  text-lg
}

section#services li > p {
  @apply
  text-base
  text-gray-800
}


/******************** ABOUT US SECTION ********************/

section#about-us div.container {
  background-color: #f3f4f8;
  
  @apply
  relative
  z-20
  p-10
  shadow-lg
}

section#about-us div.header {
  @apply
  leading-snug
}

section#about-us div.header > h2 {
  @apply
  text-gray-600
  uppercase
  text-sm
}

section#about-us div.header > h1 {
  @apply
  text-3xl text-left text-green-800
  font-bold
}
section#about-us div.header > h1 span {
  @apply
  text-black
}

section#about-us > div.container > p {
  @apply
  mt-4
  text-sm
  text-gray-700
  leading-snug
}

/******************** COMPONENTS ********************/

.btn-primary {
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box; 
  -moz-background-clip:    padding; 
  background-clip:padding-box;

  @apply
  p-3
  text-sm
  bg-green-500
  text-gray-100
  rounded-lg
  border-2
  border-gray-300
  shadow-md
}
.btn-primary:hover {
  @apply
  bg-green-600
}
.btn-primary:active {
  @apply
  bg-green-700
}


.btn-link {
  @apply
  text-sm
  text-green-500
  bg-transparent
}
.btn-link:hover {
  @apply
  text-green-600
}
.btn-link:active {
  @apply
  text-green-700
}


/******************** MEDIA QUERIES ********************/

@screen md {
  #hero div.container::before {
    @apply 
    hidden
  }
}

